/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 14, 2022, 1:43:28 AM
    Author     : ThinkPro
*/

.add {
    text-align: center;
}

.add button{
    width: 100px;
    height: 35px;
    color: #000;
    font-size: 20px;
    border-radius: 10px;
}

.add button:hover{
   background-color: green;
    color: white;
   
}

