/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

/* 
    Created on : Oct 14, 2022, 2:20:56 AM
    Author     : ThinkPro
*/

#container{
    width: 100%;
}

table {
    white-space: nowrap;
    border-collapse: separate;
    text-align: center;
}

.bt2{
    width: 100%;
    height: 100%;
    background-color: #6b90da;
    border: 3px solid #3e8e41;
    border-radius: 5px;
}
.lo a{
    font-weight: bold;
    color:black;
}
.lo a:hover{
    background-color: gray;
    color:white;
}
.bt2:hover{

    background-color: #3e8e41;
    color: white;
}

table thead tr:first-child {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #6b90da;
}

.rnumber{
   
    border: 3px solid #3e8e41;
    border-radius: 5px;
}

.rnumber:hover{
    background-color: green;
   color: white;
}

table thead tr th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

table tbody tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color:#B0E0E6;
    text-align: center;
}

.bt1{
    width: 150px;
    height: 35px;
    background-color: white;
    color: black;
    font-size: 24px;
    border: 2px solid #008CBA;
    border-radius: 10px;
}

.bt1:hover{
    background-color: #008CBA;
    color: white;
}

.rnumber2:hover{
    color: white;
}

table tbody tr td:first-child a{
    text-decoration: none;
}

#container div:first-child{
    position: sticky;
    top:0;
    z-index: 2;
    font-weight: bold;
    padding: 50px;
    font-size: 20px;
}


span.label.label-primary {
    background-color: #337ab7;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

span.label.label-danger {
    background-color: #d9534f;
}



