


#container{
    margin: 100px;
}


.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    text-align: center;
}


a.label.label-primary{
    background-color: #337ab7;
    color: white;
    text-decoration: none;
    
}

span.label.label-success{
    background-color: #5cb85c;
    color: white;
    text-align: center;
}








